<div class="row d-flex justify-content-center mt-5 pt-3">
  <div class="col-md-8 col-sm-6 col-lg-4">
    <h1>Create New Restaurant</h1>
    <hr>
  </div>
</div>
<%= render 'form', restaurant: @restaurant %>
