
  <div class="row d-flex justify-content-center mt-5 pt-3">
  <div class="col-md-4">
    <h1 class= "restaurant_details_centre">Restaurant Details</h1>
  </div>
</div>

  <div class="pt-2"><%= render @restaurant %></div>
