<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">




      <ul class="navbar-nav">
      <li class="nav-item" >
      <%= link_to "Yelp!", restaurants_path, class:"nav-link nav-item" %>
       </li>
        <li class="nav-item" >
          <%= link_to "Restaurants", restaurants_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Restaurant</a>
        </li>
      </ul>

</nav>
